<div class="mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Employee Information Management System</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Menu</span>
    <nav class="mdl-navigation" >

      <a class="mdl-navigation__link" routerLink="viewall" routerLinkActive="active">All User</a>
      <a class="mdl-navigation__link" routerLink="get/1" routerLinkActive="active">Get Specific</a>
      <a class="mdl-navigation__link" routerLink="adduser" routerLinkActive="active">Add User</a>
      <a class="mdl-navigation__link" routerLink="search" routerLinkActive="active">Search User</a>
      <a class="mdl-navigation__link" routerLink="delete" routerLinkActive="active">Remove User</a>
      <a class="mdl-navigation__link" routerLink="login" routerLinkActive="active">login</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
    <router-outlet></router-outlet>
  </main>
</div>