<!-- Icon badge on icon -->

<div align="center" >
<br>
<div class="material-icons mdl-badge mdl-badge--overlap" data-badge="♥">account_box</div>
<b>All user from Firebase</b>
</div>

<div class="mdl-grid demo-content">

  <!--div class="demo-charts mdl-color--white mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-grid">

  </div-->


  <div class="demo-graphs mdl-shadow--2dp mdl-color--white mdl-cell mdl-cell--8-col">
    <!--Add list-->
    <ul class="demo-list-three mdl-list">
      <li *ngFor="let item of itemsuser | async" (click)="onSelect(item)" class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{item.name}}</span>
      <span class="mdl-list__item-text-body">
      {{item.company}}
      </span>
    </span>
      </li>
    </ul>

    <!-- Colored FAB button with ripple -->
    <div align="center">
    <button id="tt3" class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect mdl-button--colored" (click)="adduser()">
      <i class="material-icons">add</i>
    </button>
    <div class="mdl-tooltip" data-mdl-for="tt3">
      Add User<strong> to Firebase</strong>
    </div>
    <b>AddUser</b>
  </div>
  </div>


  <div class="demo-cards mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet  mdl-grid--no-spacing" *ngIf="selectedtoken">
    <div class="demo-updates mdl-card mdl-shadow--2dp mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-cell--12-col-desktop">
      <!--Selected User Begin-->
      <ul class="demo-list-three mdl-list">
        <h5>Selected User</h5>
        <li  class="mdl-list__item mdl-list__item--three-line">
    <span class="mdl-list__item-primary-content">
      <i class="material-icons mdl-list__item-avatar">person</i>
      <span>{{selectedname}}</span>
      <span class="mdl-list__item-text-body">
        <b>Age :</b> {{selectedage}}<br/> <b>Company:</b>{{selectedcompany}}<br/> <b>Position:</b>{{selectedposition}}

      </span>
    </span>
          <br/>
          <span class="mdl-list__item-secondary-content">
      <a class="mdl-list__item-secondary-action" href="#"><i class="material-icons">star</i></a>
    </span>
        </li>

        <!--app-getspecific [userkey]="selectedtoken"></app-getspecific-->
        <!-- Colored raised button -->
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" (click)="navigate()" >
          View Details
        </button>
      </ul>
      <!--Selected User Ends-->
    </div>
  </div>

</div>

